.App {
  text-align: center;
}
.country {
  width: 150px;
  max-height: 200px;
  word-wrap: break-word;
  padding: 15px;
  display: inline-block;
}

div {
  margin: 5px;
}

img {
  margin: 5px;
  width: 100px;
}

p {
  margin-top: -5px;
}